html,body{
    height: 100%;
}
/* 工作中，可以写一堆标签
    * 比较耗性能

*/
body,
div,
span,
p,
a,
input,
img,
ul,
li,
strong,
em,
del,
ins,
i,
h1,
h2,
h3,
h4{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}